* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,a,p {
    color: #fffbfb;
}

header {
    height: 60px;
    width: 100%;
    background-color: #507da977;
    position: fixed;
}

main>div#Top {
    background-image: url("./Background.png");
    background-repeat: repeat-x;
}

main {
    background-image: url("./Dirt_Bg.png");
}

main>*:not(#Top),footer>* {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

main>img,main>video,main>iframe {
    border-radius: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: #252525;

    box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}

main>a,main>p,main>h1,main>h2,main>h3,main>h4,main>h5,main>h6 {
    text-shadow: 12.5px 12.5px 0px rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
}

main>a, main>p {
    font-size: 25px;
}

footer {
    padding-top: 15px;
    background-image: url("./Dirt_Bg.png");
    background-blend-mode: overlay;
    padding-bottom: 15px;
}

footer>a {
    font-size: 20px;
}

.header-content {
    text-decoration: none;
    float: left;
    font-size: 25px;
    margin: 15px 0px 0px 15px;
}

.header-logo {
    font-size: 30px;
    margin: -7.5px 20px 0px 15px;
    height: 45px;
}

.main-logo {
    height: 140px;
    padding: 200px 0px 200px 0px;
}

.download {
    width: 200px;
    padding: 25px 50px;
    font-size: 40px;
    border-style: none;
    border-radius: 15px;
    color: #343536;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 12.5px 0px #c0c0c0;
    margin-bottom: 20px;
}

.download:active {
    box-shadow: none;
    margin-top: 17.5px;
    margin-bottom: 2.5px;
}

div.below-download>a {
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

div.below-download {
    width: 250px;
    padding-bottom: 150px;
}

.center-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}